<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        {{#if teacher}}
            {{>trnavbar}}
        {{else}}
            {{>navbar}}
        {{/if}}
        
        <div id="content">
            <h1>NOTICES</h1>
            {{#if teacher}}
            <form action="/notices" method="post">
                <input type="text" name="message" required>
                <button type="submit">POST</button>
            </form>
            {{/if}}
            {{#each rows}}
                <h3>{{this.email}}</h3>
                <h3>{{this.msg}}</h3>
                <h3>{{this.date}}</h3>
                <br>
            {{/each}}
        </div>
    </div>

</body>

</html>