<div class="nav">
    <h1 id="logo">College Space</h1>
    <ul class="list">
        <li class="links"><a href="#">Teams</a></li>
        <li class="links"><a href="#">Assignments</a></li>
        <li class="links"><a href="#">Time Table</a></li>
        <li class="links"><a href="#">Notices</a></li>
        <li class="links"><a href="#">Message</a></li>
    </ul>
</div>