<div class="nav">
    <a href="/trdashboard" style="text-decoration: none;"><h1 id="logo">College Space</h1></a>
    <ul class="list">
        <li class="links"><a href="/teams">Teams</a></li>
        <li class="links"><a href="/notices">Notices</a></li>
        {{!-- <li class="links"><a href="#">Message</a></li> --}}
        <li class="links"><a href="/logout">Logout</a></li>
    </ul>
</div>