@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.nav{
    /* border: 2px solid black; */
    width: 15%;
    color: white;
    background: black;
    min-height: 100vh;
}
#logo{
    margin: 20px 2px;
    text-align: center;
    color: white;
}
.list{
    padding: 15px;
}
.links{
    list-style: none;
    padding: 10px;
    font-size: 22px;
}
#content{
    width: 85%;
    /* border: 2px solid; */
    /* overflow-y: scroll; */
}
.container{
    display: flex;
}
.links a{
    color: white;
    text-decoration: none;
}